<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>591461712002-a07vlokrr5hjm23v3qj2gs9101ibn5kh.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.591461712002-a07vlokrr5hjm23v3qj2gs9101ibn5kh</string>
	<key>API_KEY</key>
	<string>AIzaSyA9VJ0h3FYMpUK2JVIxAdCiZmO1dxxOScE</string>
	<key>GCM_SENDER_ID</key>
	<string>591461712002</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.anikamorris.Tripeaze</string>
	<key>PROJECT_ID</key>
	<string>tripeaze-53cd0</string>
	<key>STORAGE_BUCKET</key>
	<string>tripeaze-53cd0.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:591461712002:ios:8a3aba09ad4748440cb49b</string>
</dict>
</plist>